@{
    Layout = null;
}

<footer class="page-footer">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <p class="grey-text text-lighten-3">Projeto criado para fins didáticos.</p>
            </div>
            <div class="col l4 offset-l2 s12">
                <h5 class="text-white">Ferramentas utilizadas</h5>
                <ul class="footer-links">
                    <li><a href="https://materializecss.com" style="color:#e5f2ff">Materialize</a></li>
                    <li><a href="https://www.wampserver.com" style="color:#e5f2ff">Wampserver</a></li>
                    <li><a href="https://visualstudio.microsoft.com" style="color:#e5f2ff">Visual Studio Community 2019</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            © 2020 - Phelip Logan
            <a class="grey-text text-lighten-4 right" href="https://github.com/phlogan">Github</a>
        </div>
    </div>
</footer>

<style>
    footer {
        background-color: #6b7db3!important;
    }
</style>