@{
    Layout = null;
}
<header>
    <nav style="background-color: #6b7db3;">
    <div class="navbar-fixed">
        <div class="nav-wrapper">
            <a href="@Url.Action("Index", "Home")" class="brand-logo">
                <i class="large material-icons" style="color: white">home</i>
            </a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a href="@Url.Action("Login", "Login")">Login</a></li>
            </ul>
        </div>
    </div>
</nav>
</header>