<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    @RenderSection("Styles", required: false)
</head>

<div style="width: 100%; height: 50px; background-color:gray">
    <p style="color: white">Login</p>
</div>
@RenderBody()

<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
@RenderSection("Scripts", required: false)

