@{
    ViewData["Title"] = "Home Page";
}

<div class="center">
    <h1>DEFAULT</h1>
    <i class="large material-icons">mode_edit</i>
    <p class="lead">Realize <a href="@Url.Action("Login", "Login")">login</a> para gerenciar os usuários.</p>
</div>